.two-column-list {
    --columns-gap: 2em;

    .flex-wrapper {
        gap: var(--columns-gap);
        flex-wrap: wrap !important;
    }

    h2, p {
        & + .bb-buttons-wrapper {
            margin-top: 1em;
        }
    }

    .bb-column-1 {
        flex: 0 0 calc(35% - var(--columns-gap));
        flex-basis: calc(35% - var(--columns-gap)) !important;

        @media (max-width: 1000px) {
            flex: 0 0 100% !important;
            flex-basis: 0 0 100% !important;
        }
    }

    .bb-column-2 {
        flex: 0 0 calc(65% - var(--columns-gap));
        flex-basis: calc(65% - var(--columns-gap)) !important;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em var(--list-gap);

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
            padding-left: 0;
        }
    }

    .list-heading {
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            display: block;
            width: 3rem;
            height: 3rem;
            left: 0;
            top: 0;
            transform: translate(-100%, -.25rem);
            background-repeat: no-repeat;
            background-size: contain;

            @media (max-width: 800px) {
                z-index: -1;
                width: 4rem;
                height: 4rem;
                opacity: 0.5;
                transform: translate(-.25rem, -1.25rem);
            }
        }
    }

    .list-column {
        padding-left: 3rem;

        @media (max-width: 800px) {
            padding-left: 0;
        }
    }
    
    .bb-container {
        @media (max-width: 800px) {
            padding-top: 2em !important;
            padding-bottom: 2em !important;
        }
    }
}